* {
  margin: 0;
  padding: 0;
}

.Cabecalho {
  background-color: #00ced1;
  font-family: Magra;
  font-size: 36px;
  color: black;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 128px;
}
.Rodape {
  background-color: #00ced1;
  font-family: Magra;
  font-size: 24px;
  color: black;
  position: fixed;
  bottom: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 68px;
}

.Title {
  font-family: Magra;
  color: black;
  font-size: 36px;
  margin: 4px;
}

.button {
  width: 207px;
  height: 86px;
  border-radius: 5px;
  color: black;
  background-color: #00ced1;
  font-size: 24px;
  font-family: Magra;
  border: 0;
  margin-left: 2rem;
  box-sizing: border-box;
}

.button:hover {
  background-color: rgb(13, 85, 240);
  transition: 500ms;
}
.Input {
  align-items: center;
  width: 80%;
  max-width: 1089px;
  height: 86px;
  border-radius: 5px;
  border: solid #c6c6c6 1px;
  font-size: 24px;
}
.InputDiv {
  margin: 5em;
}
.input-group {
  display: flex;
}

.Lista {
  font-family: Magra;
  font-size: 24px;
  margin-left: 4em;
  margin-bottom: 3em;
}
